.button-reply {
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    background-color: #ff7d00;
    border-color: transparent;
  }
  
  .button-show-response {
    font-size: 14px;
    padding: 5px;
    font-weight: normal;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    color: #cbcbcb;
  }
  
  .card-response{
    background-color: transparent;
    border: none;
    font-size: 16px;
  }

  .card-footer-response{
    text-align: right;
    border-top: none !important;
    padding: 0;
  }
