<div class="container-fluid">
    <div class="row">
 <div class="col-xs-4 col-md-push-2" style="text-align: center;">
    <div class="card" style="border:none">
        <div class="card-block">
          <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
            <img [src]="comment.author.image" class="response-author-img" />
          </a>
        </div>

          &nbsp;
          <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
            {{ comment.author.username }}
          </a>
          <span class="date-posted">
            {{ comment.createdAt | date: 'longDate' }}
          </span>
      </div>
  </div>

  <div class="col-xs-8 col-md-pull-10">
    <div class="card">
      <div class="card-block">
        <p class="card-text">
          {{ comment.body }} 
        </p>
      </div>
      <div class="card-footer" style="border-top:none!important;background-color: transparent;padding-top:0;padding-bottom:0;border-bottom: 1px solid #eee;">
        <span class="mod-options" [hidden]="!canModify">
          <i class="ion-trash-a" (click)="deleteClicked()"></i>
        </span>
        <span class="mod-options">
            <i class="fa fa-cog" aria-hidden="true" [ngClass]="{'purple': comment.tagAvotee === true}" (click)="wasUseful(comment)">{{comment.utile.length}} <span *ngIf="comment.utile.length === 0"></span></i>
        </span>
      </div>

      <!-- répondre -->
      <div class="card-footer" style="border-top:none!important;background-color: transparent;">
        <app-add-response [commentId]="comment.id" [commentResp]="comment.resp"></app-add-response>
      </div>
    </div>
  </div>

</div>
</div>