<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" style="font-weight: bold;"><span style="color: #373a3c">DEV</span><span>SHIP</span></a>
    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Accueil
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          <i class="fa fa-user-alt" aria-hidden="true"></i>
          Se connecter
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
          S'enregistrer
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-columns" aria-hidden="true"></i>
          Actualité
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor/bonne-pratique"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;
          <i class="fa fa-lightbulb" aria-hidden="true"></i>
          Bonne pratique
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor/sujet"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          Sujet
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;
          <i class="fa fa-user-cog" aria-hidden="true"></i>
          Configuration
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

      <li class="nav-item" *ngIf="ifAdmin">
        <a class="nav-link"
          routerLink="/admin"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;
          <i class="fa fa-cog" aria-hidden="true"></i>
          Administration
        </a>
      </li>

      <li class="nav-item" *ngIf="ifAdmin" (click)="seDeconnecter()">
          <a class="nav-link"
            routerLink="/admin"
            routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Se déconnecter
          </a>
      </li>

    </ul>

  </div>
</nav>
