<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Dev c'est quoi?</h1>
      <p>Besoin d'aide? Vous êtes au bon endroit! car ici on s'entraide entre dev en partageant nos connaissances.</p>
        <i>languages de programmation, les architectures, les frameworks, les trucs et astuces...</i>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
          <form [formGroup]="searchForm">
              <fieldset class="form-group">
                  <fieldset class="form-group">
                      <input class="form-control"
                        formControlName="keyword"
                        type="text"
                        (keyup)="search()"
                        placeholder="Rechercher n'importe quoi sur le site..." />
                    </fieldset>
                </fieldset>
          </form>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'feed'}"
                 (click)="setListTo('feed')">
                 Vos enregistrements
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
                 (click)="setListTo('all')">
                 Tous les articles
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
            <li class="nav-item" [hidden]="!searchOn">
                <a class="nav-link active">
                  <i class="ion-pound"></i> {{keyword}}
                </a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="10" [config]="listConfig" [searchResult]="article" [searchOn]="searchOn"></app-article-list>

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Les #tags les plus utilisés</p>
          <p><i style="font-size: 12px;color: #bbb;">pour filtrer votre recherche ...</i></p>
          

          <div class="tag-list">
            <a *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Chargement...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            Il n'y a pas encore de tag ...
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
